<!DOCTYPE html>
<head>
  <title>Holey Moley</title>
  <link rel="stylesheet" href="/style.css"  />
</head>
<body>
  <div class="container">
    <h2 class="text-center">Score: <span id="score">0</span></h2>
    <div class="game">
      <div class="row" id="row-1">
        <img class="img-fluid background" src="/assets/background.png" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-1" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-2" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-3" />
        <img class="img-fluid foreground" src="/assets/foreground.png" />
      </div>
      <div class="row" id="row-2">
        <img class="img-fluid background" src="/assets/background.png" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-4" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-5" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-6" />
        <img class="img-fluid foreground" src="/assets/foreground.png" />
      </div>
      <div class="row" id="row-3">
        <img class="img-fluid background" src="/assets/background.png" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-7" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-8" />
        <img class="img-fluid mole" src="/assets/mole.png" id="mole-9" />
        <img class="img-fluid foreground" src="/assets/foreground.png" />
      </div>
      <div class="footer">
        <div class="heart-bar">
          <img class="img-fluid heart" src="/assets/heart.png" />
          <img class="img-fluid heart" src="/assets/heart.png" />
          <img class="img-fluid heart" src="/assets/heart.png" />
        </div>
        <div class="items-box">
          <img class="img-fluid item off" src="/assets/activeBomb.png" data-cost="80" />
          <img class="img-fluid item off" src="/assets/activeFreeze.png" data-cost="50" />
          <img class="img-fluid item off" src="/assets/activeBomb.png" data-cost="80" />
        </div>
        <div class="mana-bar">
          <div class="mana"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/script.js"></script>
</body>