<!DOCTYPE html>
<head>
  <title>Holey Moley | Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/common.css" />
  <link rel="stylesheet" href="/assets/home/style.css" />
</head>
<body>
  <div class="container home">
    <ul class="nav">
      <li class="active" data-toggle="game">
        <img class="img-fluid" src="/assets/images/home_play.svg" />
        <p>Game</p>
      </li>
      <li data-toggle="inventory">
        <img class="img-fluid" src="/assets/images/home_inventory.svg" />
        <p>Inventory</p>
      </li>
      <li data-toggle="shop">
        <img class="img-fluid" src="/assets/images/home_shop.svg" />
        <p>Shop</p>
      </li>
      <li data-toggle="profile">
        <img class="img-fluid" src="/assets/images/home_settings.svg" />
        <p>Profile</p>
      </li>
    </ul>
    <div class="tab-content">
      <div id="game" class="tab-pane active">
        <h1 class="text-center">Game Mode</h1>
        <div class="tab-item" data-goto="/game">
          <img class="img-fluid" src="/assets/images/menu_random.svg" />
          <p>Random Match</p>
        </div>
        <div class="tab-item">
          <img class="img-fluid" src="/assets/images/menu_single.svg" />
          <p>Single Player</p>
        </div>
        <div class="tab-item">
          <img class="img-fluid" src="/assets/images/menu_local.svg" />
          <p>Local Match</p>
        </div>
      </div>
      <div id="inventory" class="tab-pane">
        <h1 class="text-center">Inventory</h1>
      </div>
      <div id="shop" class="tab-pane">
        <h1 class="text-center">Shop</h1>
      </div>
      <div id="profile" class="tab-pane">
        <h1 class="text-center">Profile</h1>
        <div class="tab-item">
          <img class="img-fluid img-circle" src="/assets/images/home_avatar.svg" />
          <p class="text-center" id="name"></p>
          <h2 class="text-center">Level: <span id="level"></span></h2>
          <h3 class="text-center" id="exp"></h3>
          <div class="exp-container">
            <div class="exp-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/home/script.js"></script>
</body>