<!DOCTYPE html>
<head>
  <title>Holey Moley | Home</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#b8b44e" />
  <meta name="msapplication-TileColor" content="#b8b44e">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#b8b44e">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/common.css" />
  <link rel="stylesheet" href="/assets/home/style.css" />
</head>
<body>
  <div class="container home">
    <ul class="nav">
      <li class="active" data-toggle="game">
        <img class="img-fluid" src="/assets/images/home_play.svg" />
        <p>Game</p>
      </li>
      <li data-toggle="inventory">
        <img class="img-fluid" src="/assets/images/home_inventory.svg" />
        <p>Inventory</p>
      </li>
      <li data-toggle="shop">
        <img class="img-fluid" src="/assets/images/home_shop.svg" />
        <p>Shop</p>
      </li>
      <li data-toggle="profile">
        <img class="img-fluid" src="/assets/images/home_settings.svg" />
        <p>Profile</p>
      </li>
    </ul>
    <div class="tab-content">
      <div id="game" class="tab-pane active">
        <h1 class="text-center">Game Mode</h1>
        <div class="tab-item" data-goto="/game">
          <img class="img-fluid" src="/assets/images/menu_random.svg" />
          <p>Random Match</p>
        </div>
        <div class="tab-item">
          <img class="img-fluid" src="/assets/images/menu_single.svg" />
          <p>Single Player</p>
        </div>
        <div class="tab-item">
          <img class="img-fluid" src="/assets/images/menu_local.svg" />
          <p>Local Match</p>
        </div>
      </div>
      <div id="inventory" class="tab-pane">
        <h1 class="text-center">Inventory</h1>
      </div>
      <div id="shop" class="tab-pane">
        <h1 class="text-center">Shop</h1>
      </div>
      <div id="profile" class="tab-pane">
        <h1 class="text-center">Profile</h1>
        <div class="tab-item">
          <img class="img-fluid img-circle" src="/assets/images/home_avatar.svg" />
          <p class="text-center" id="name"></p>
          <h2 class="text-center">Gold: <span id="gold"></span></h2>
          <h2 class="text-center">Level: <span id="level"></span></h2>
          <h3 class="text-center" id="exp"></h3>
          <div class="exp-container">
            <div class="exp-bar"></div>
          </div>
        </div>
        <div class="tab-item" id="logout">
          <h1 class="text-center">Log out</h1>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/home/script.js"></script>
</body>