<!DOCTYPE html>
<head>
  <title>Holey Moley</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#ea9232" />
  <meta name="msapplication-TileColor" content="#ea9232">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ea9232">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/common.css" />
  <link rel="stylesheet" href="/assets/welcome/style.css" />
</head>
<body>
  <div class="container welcome">
    <img class="img-fluid logo" src="/assets/images/start_image.svg" />
    <button class="btn" id="btn__login"><span class="text-center">login</span></button>
    <button class="btn" id="btn__register"><span class="text-center">register</span></button>
    <div id="modal__login" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Login</h2>
        </div>
        <form id="form__login">
          <div class="modal-body">
            <ul class="form-group">
              <li>
                <label>Username</label>
                <input type="text" name="username" class="field-long" />
              </li>
              <li>
                <label>Password</label>
                <input type="password" name="password" class="field-long" />
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn full-width">LOGIN</button>
          </div>
        </form>
      </div>
    </div>
    <div id="modal__register" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Registration</h2>
        </div>
        <form id="form__register">
          <div class="modal-body">
            <ul class="form-group">
              <li>
                <label>Username</label>
                <input type="text" name="username" class="field-long" />
              </li>
              <li>
                <label>Password</label>
                <input type="password" name="password" class="field-long" />
              </li>
              <li>
                <label>Confirm Password</label>
                <input type="password" name="confirm-password" class="field-long" />
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn full-width">REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/assets/welcome/script.js"></script>
</body>